* {
    font-family: "Nunito", sans-serif;
    margin: 0;
}

*:focus,
*:active,
*:hover {
    outline: none !important;
}


/* Image */

.image {
    width: 100%;
    margin-top: 2rem;
  }
  .error-message {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 1rem;
  }